<h2> <% if session[:user_id] == @user.id%>
 <%= @user.name %>'s Profile <br>
<% else%>
    <%= @user.name %>'s profile 
<br>
<% end%></h2>

<h1>Your previous meals include:</h1> 
<p><%= @user.meals.each do |meal| %>
    <%= meal.name %>
<% end %><p>