.row {
  display: flex;
}

.column {
  flex: 33%;
  padding: 3px;
}
.column img {
  max-height: 350px;
  object-fit: cover;
  vertical-align: middle;
  border-radius: 35px;
  cursor: pointer;
  transition: 0.3s;
}
.column img:hover {
  opacity: 0.7;
}

.yelp_information {
  margin-left: 15%;
}

@font-face {
  font-family: fonttesting;
  src: url(../fonts/photograph_signature.ttf);
}

.restaurant_name {
  text-align: center;
  font-size: 100px;
  font-style: italic;
}

.parent_rest {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 6 / 4; }
.div1 * {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.div1 #reviews {
  font-size: 25px;
}
.div1 #review_text {
  width: 550px;
  display: flex;
}

.div2 { grid-area: 1 / 4 / 6 / 7; }
.div2 * {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.div3 { grid-area: 1 / 7 / 6 / 10; }
.div3 * {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


/* All code below for modal images */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}