// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h2 {
    width: 250px;
    border: 50px solid;
    border-width: 2px;
    border-color: #25A18E; 

  }

  #profile-name {
    font-size: 16px;
    color:rgb(124, 69, 69);
  }

  h1 { 

  }