// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container-1{
  display:flex;
}

.container-1 div{
  border:1px #ccc solid;
  padding:10px
}

.box-1{
  flex:1;
}

.box-2{
  flex:1;
}

.form {
  display: grid;
  width: 10%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

small {
  color: gray;
}
