// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.parent-welcome {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: #9FFFCB;
  height: 230px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  padding: 20px;
  border-radius: 5px;
}
.parent-welcome p {
  font-size: 23px;
}

.whoop_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  // height: 200px;
}

.container-welcome {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#btn-welcome {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#btn-welcome:hover {
  background-color: #45a049;
}

.div1-welcome { 
  grid-area: 1 / 2 / 2 / 5;
}
.div2-welcome { 
  grid-area: 2 / 2 / 4 / 5;
  text-align: center;
}
.div3-welcome { grid-area: 4 / 2 / 5 / 5; }